---
---

@import "{{ site.theme }}";
.wrapper {
width: 740px;
margin: 0 auto;
background: #ffe8d6;
border-radius: 8px;
box-shadow: rgba(162, 236, 191, 1) 0 0 0 1px,rgba(162, 236, 227, 1) 0 3px 10px;
}

header {
border-radius: 8px 8px 0 0;
background: #FFDBB5;
background: linear-gradient(#ffcdb2, #e5989b);
position: relative;
padding: 15px 20px;
border-bottom: 1px solid #FBF8F3;
}

header h1 {
margin: 0;
padding: 0;
font-size: 24px;
line-height: 1.2;
color: #fbf8f3;
text-shadow: rgba(252, 243, 243, 1) 0 1px 0;
}
