---
---

@import "{{ site.theme }}";

body {
padding: 50px 0;
margin: 0;
font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #555;
font-weight: 300;
background: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80") fixed;
min-height: calc(100% - 100px);
}

.wrapper {
width: 740px;
margin: 0 auto;
background: #ffe8d6;
border-radius: 8px;
box-shadow: rgba(233, 165, 149, 0.62) 0 0 0 1px, rgba(233, 181, 149, 0.62) 0 3px 10px;
}

header {
border-radius: 8px 8px 0 0;
background: #FFDBB5;
background: linear-gradient(#ffcdb2, #e5989b);
position: relative;
padding: 15px 20px;
border-bottom: 1px solid #FBF8F3;
}

h1 {
margin: 0;
padding: 0;
font-size: 24px;
line-height: 1.2;
color: #fbf8f3;
text-shadow: rgba(252, 243, 243, 1) 0 1px 0;
}

ul {
margin: 0;
padding: 0;
list-style: none;
position: absolute;
z-index: 1;
right: 20px;
top: 20px;
height: 38px;
padding: 1px 0;
background: #5198DF;
background: linear-gradient(#f4f1de, #d4a373);
border-radius: 5px;
box-shadow: inset rgba(255,255,255,0.45) 0 1px 0,inset rgba(0,0,0,0.2) 0 -1px 0;
width: auto;
}
